<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="exApp">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <script src="angular.js"></script>
    <script src="app.js"></script>
    <div ng-controller='itemctrl as item'>
        <input ng-model="item.name"><br>
        <input ng-model="item.description"><br>
        <button ng-click="item.save()">save item</button><br>
        <!------>
        <ul>
            <li ng-repeat="sel in item.menu">{{sel.name}}     {{sel.description}}</li>
            </ul><br>
        <example name="item.name" des="item.description"></example>
    </div>
</body>
</html>