<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
      <script src="angular.js"></script>
      <script src="app.js"></script>
      <div class="container" ng-controller="NarrowItDownController as menu">
          <h1>Narrow Down Your Chinese Menu Choice</h1>

          <div class="form-group">
              <input type="text" placeholder="search term" class="form-control" ng-model="menu.search">
          </div>
          <div class="form-group narrow-button">
              <button class="btn btn-primary" ng-click="menu.narrowit();">Narrow It Down For Me!</button>
          </div>
          <ol>
              <li ng-repeat="item in menu.found">
                  {{ menu.short_name }};{{ menu.name }};{{menu.description}}
                  <!--   <button ng-click="list.onRemove({index: $index});">Don't want this one!</button>-->
              </li>
    </ol>
    <!-- found-items should be implemented as a component -->
                  <found-items founditems="menu.found" on-remove="menu.removeitem($index)"></found-items>
</div>

      </body>
    </html>
